header {
	text-align: right;
}

body {
	background-color: lightsteelblue;
}

#loginmenu {
	text-align: center;
	margin-top: 100px;
}

.welcomeMessage {
	margin-top: 100px;
	text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: midnightblue;
}

.divider {
	align-content: center;
}

.supportingWelcomeMessage {
	margin-top: 25px;
	text-align: center;
	font-size: x-large;
	color: midnightblue;
}

.playerSearch {
	text-align: center;
	margin-top: 100px;
	font-size: large;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}